/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */
blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------ Min css starter ------------------------------------------------ */
body {
  background-color: #f4f4f4;
  font-size: 1.2rem;
  font-family: "inter", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

/* ------------------------------------------------ navigationsbar ------------------------------------------------ */
/* -- styling af navigationsbar -- */
.navigationsbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo menupunkter ikoner";
  background-color: #1c1b1e;
  font-weight: 300;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem;
}

.logo {
  width: auto;
  height: 3rem;
  justify-self: start; /* -- placeres til venstre -- */
  padding-left: 1.5rem;
}

.menupunkter {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 1.1rem;
  gap: 3rem;
  padding: 0rem 4rem;
}

/* -- søg og profil ikon styling enkeltvis -- */
.ikon {
  width: auto;
  height: 1.5rem;
}

/* -- søg og profil ikon styling samlet -- */
.ikoner {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  padding-right: 2rem;
}
/* ------------------------------------------------ forsiden ------------------------------------------------ */
.udvalgteOl {
  padding: 2rem 0rem 0rem 3rem; /* -- top, højre, bund, venstre -- */
}

h1 {
  font-family: nunito, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

/* -- selve scrolleren -- */
.scroller {
  display: flex;
  gap: 10rem; /* -- afstand mellem billederne -- */
  margin: 2rem 0rem;
  overflow-x: auto; /* -- muliggør scrolling -- */
}

.scroller::-webkit-scrollbar {
  display: none; /* -- skjuler scrollbar i Chrome og Safari -- */
}

.scroller div {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center; /* -- centrerer alt i midten af div'en -- */
  text-align: center;
  width: auto; /* -- lader teksten bestemme bredden -- */
  min-width: 10rem; /* -- minimum bredde på boksen -- */
  padding-top: 0.7rem;
  min-height: 38rem; /* -- øger højden, så der er plads til knappen -- */
}

.scroller img {
  max-height: 30rem;
  width: auto;
  transition: transform 0.3s ease-in-out; /* -- sørger for en jævn overgang begge veje -- */
}

/* -- tekst ved udvalgte øl -- */
.olnavn_forside {
  padding-top: 0.8rem;
  max-width: 20rem;
  width: 100%;
  font-family: nunito, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.pris_forside {
  padding-top: 0.2rem;
  max-width: 20rem;
  width: 100%;
  font-family: nunito, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* -- zoom effekt af billeder -- */
.zoom {
  transform: scale(1.05); /* -- gør billedet 5% større -- */
}

/* -- styling af knappen -- */
.vaelg_muligheder {
  display: none;
  padding: 0.7rem 1rem;
  border: 1px solid black;
  background-color: #f4f4f4;
  color: black;
  text-align: center;
  font-size: 1rem;
  transition: opacity 0.3s ease-in-out;
  position: absolute; /* -- sørger for, at knappen ikke forsvinder -- */
  bottom: 0; /* -- placeres under billedet -- */
}


/* ------------------------------------------------ shop ------------------------------------------------ */
/* -- brødkrummer -- */
.brodkrummer {
  color: #777777;
  font-size: 0.7rem;
  padding-top: 2rem;
  padding-left: 2rem;
}
